<a href="https://colab.research.google.com/github/dxk5271/881_Project/blob/main/DAAN_881_Project_v2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Replication Example 
Marjan Orang
Spring 2021

In [2]:
# packages intended to use
import pandas as pd

In [3]:
from google.colab import drive 
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

# **Case IDs**

In [4]:
#read in case_ids table
df1=pd.read_csv('/content/gdrive/MyDrive/Data Driven Decisions/case_ids.csv')

In [9]:
#case_ids analysis
df1.columns[df1.isna().any()].tolist() #empty list because there are no NAs
df1.isna().sum() #entire dataset is complete no cleansing needed

case_id    0
db_year    0
dtype: int64

## **Collisions Analysis**

In [ ]:
#read in collisions table
df2=pd.read_csv('/content/gdrive/MyDrive/Data Driven Decisions/collisions.csv', low_memory=False)

In [ ]:
#collions analysis
df2na_results = df2.isna().sum()

In [ ]:
df2na_results

In [ ]:
df2.info()

In [ ]:
df2na_results.to_csv("/content/gdrive/MyDrive/Data Driven Decisions/df2na_results.csv")

In [ ]:
from google.colab import files
files.download("df2.csv")

# **Victims**

In [19]:
df3=pd.read_csv('/content/gdrive/MyDrive/Data Driven Decisions/victims.csv', low_memory=False )

In [20]:
df3na_results = df3.isna().sum()

In [21]:
df3na_results.to_csv("/content/gdrive/MyDrive/Data Driven Decisions/df3na_results.csv")

In [22]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9639334 entries, 0 to 9639333
Data columns (total 11 columns):
 #   Column                     Dtype
---  ------                     -----
 0   id                         int64
 1   case_id                    uint64
 2   party_number               int64
 3   victim_role                object
 4   victim_sex                 object
 5   victim_age                 float64
 6   victim_degree_of_injury    object
 7   victim_seating_position    object
 8   victim_safety_equipment_1  object
 9   victim_safety_equipment_2  object
 10  victim_ejected             object
dtypes: float64(1), int64(2), object(7), uint64(1)
memory usage: 809.0+ MB

# **Parties**

In [3]:
df4=pd.read_csv('/content/gdrive/MyDrive/Data Driven Decisions/parties.csv', low_memory=False)

In [4]:
df4na_results = df4.isna().sum()

In [5]:
df4na_results.to_csv("/content/gdrive/MyDrive/Data Driven Decisions/df4na_results.csv")

In [7]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18669166 entries, 0 to 18669165
Data columns (total 32 columns):
 #   Column                        Dtype
---  ------                        -----
 0   id                            int64
 1   case_id                       uint64
 2   party_number                  int64
 3   party_type                    object
 4   at_fault                      int64
 5   party_sex                     object
 6   party_age                     float64
 7   party_sobriety                object
 8   party_drug_physical           object
 9   direction_of_travel           object
 10  party_safety_equipment_1      object
 11  party_safety_equipment_2      object
 12  financial_responsibility      object
 13  hazardous_materials           float64
 14  cellphone_in_use              float64
 15  cellphone_use_type            object
 16  school_bus_related            float64
 17  oaf_violation_code            object
 18  oaf_violation_category        object
 19  oaf_violation_section         float64
 20  oaf_violation_suffix          object
 21  other_associate_factor_1      object
 22  other_associate_factor_2      object
 23  party_number_killed           int64
 24  party_number_injured          int64
 25  movement_preceding_collision  object
 26  vehicle_year                  float64
 27  vehicle_make                  object
 28  statewide_vehicle_type        object
 29  chp_vehicle_type_towing       object
 30  chp_vehicle_type_towed        object
 31  party_race                    object
dtypes: float64(6), int64(5), object(20), uint64(1)
memory usage: 4.5+ GB

In [11]:
del(df4)

NameError: ignored